<ion-view title="10 About Cosmic Match" hide-nav-bar="true" id="page8">
  <ion-content padding="true" style="background: url(img/OuCQBs6FSxmJVVKwUJeT_starfield-1242x2208-muted.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h2 id="10AboutCosmicMatch-heading6" style="color:#F719E2;font-weight:300;text-align:center;">About Cosmic Match</h2>
    <div id="10AboutCosmicMatch-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Cosmic Match is a unique program that goes beyond matching just zodiac signs, but also includes all nine planets of each person, giving the user a much better undersatanding of their relationship. It is based on each person's exact birth date, time
        and location. The resulting comparison gives the likelihood of relationship success on a scale of zero to 100%.</p>

      <p style="color:#FFFFFF;">Use it with all your relationships! You can add as many matches as you like! Enjoy!</p>

      <p style="color:#FFFFFF;">Thank you, Geraldine Kerr</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="10AboutCosmicMatch-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:12px;">Geraldine has been a professional astrologer for thirty years helping couples realize their relationship potential through astrology.</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="10AboutCosmicMatch-button11" ng-click="resetApp()" style="left:-10px;font-size:30px;" class="button button-energized button-full button-clear">RESET APP</button>
    </div>
  </ion-content>
</ion-view>