<ion-view title="Buy 5 Matches" id="page17">
  <ion-content padding="true" style="background: url(img/t3TRaIcHSnaX57t7dnU1_starfield_temp.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header" scroll="false">
    <div class="spacer" style="width: 320.25px; height: 5px;"></div>
    <h1 id="buy5Matches-heading8" style="color:#F719E2;text-align:center;">Special!</h1>
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <div id="buy5Matches-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FFFFFF;font-size:18px;">Buy 5 Matches at once</p>

      <p style="color:#FFFFFF;font-size:18px;">and get the 6th FREE!</p>
    </div>
    <div>
      <img src="img/MGYdTuYHQKOU5GJXU7dZ_part-heart-pink-5-1.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 6px;"></div>
    <button id="buy5Matches-button12" style="font-weight:600;border-radius:5px 5px 5px 5px;" class="button button-energized button-block">Get 5 Now!</button>
    <div class="spacer" style="width: 320px; height: 41px;"></div>
    <div id="buy5Matches-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:18px;">You currently have</p>
    </div>
    <h1 id="buy5Matches-heading9" style="color:#F719E2;text-align:center;">4</h1>
    <div id="buy5Matches-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:18px;">purchased Matches</p>
    </div>
    <a ui-sref="tabsController.setUpMyProfile()" id="buy5Matches-button35" class="button button-positive button-block">Make My Profile</a>
  </ion-content>
</ion-view>