<ion-view title="Confirm Your Match Data" id="page23">
  <ion-content padding="true" style="background: url(img/rMEyhGymRcirYmmbNfmD_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="confirmYourMatchData-markdown15" class="show-list-numbers-and-dots"></div>
    <div id="confirmYourMatchData-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FCF8F8;font-size:21px;">Please review your match!</p>
    </div>
    <div class="list card" id="confirmYourMatchData-card22">
      <ion-item class="item-icon-left energized center text-center" id="confirmYourMatchData-list-item10">
        <i class="icon ion-ios-heart"></i>Cosmic Match</ion-item>
      <div id="confirmYourMatchData-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Birthdate: {{user.month}}/{{user.day}}/{{user.year}}</p>

        <p style="color:#000000;">Birthtime: {{user.hour}}:{{user.minute}}
        </p>

        <p style="color:#000000;">{{user.location}} {{user.timezone}}
        </p>

        <p style="color:#000000;">(Lat: {{user.lat}}) (Lon: {{user.lon}})</p>
      </div>
    </div>
    <a ui-sref="tabsController.confirmGetMyMatch()" id="confirmYourMatchData-button10" style="font-size:20px;" class="button button-energized button-block">Save &amp; Continue</a>
    <a ui-sref="tabsController.createANewMatch()" id="confirmYourMatchData-button46" style="font-size:14px;" class="button button-positive button-small button-block">Edit Birth Time Info</a>
    <a ui-sref="tabsController.matchBirthLocation()" id="confirmYourMatchData-button47" style="font-size:14px;" class="button button-positive button-small button-block">Edit Birth Location Info</a>
  </ion-content>
</ion-view>