<ion-view title="Cosmic Match Tour - 1" hide-nav-bar="true" id="page12">
  <ion-content padding="false" style="background: url(img/aadRQsdmQ76fZcDUujbV_Tour_0a.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="width: 320px; height: 366px;"></div>
    <div class="spacer" style="width: 320px; height: 140px;"></div>
    <a ui-sref="cosmicMatchTour2()" id="cosmicMatchTour1-button16" style="font-size:20px;" class="button button-energized button-block">Next</a>
  </ion-content>
</ion-view>