<ion-view title="Cosmic Match Tour - 2" hide-nav-bar="true" hide-back-button="true" id="page30">
  <ion-content scroll="false" padding="true" style="background: url(img/ECR3RSsRtqBns77A4H5e_4-Tour_1.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer tour-spacer"></div>
    <a ui-sref="cosmicMatchTour3()" id="cosmicMatchTour2-button22" class="button button-positive button-large button-block button-clear tour-button"> </a>
  </ion-content>
</ion-view>