<ion-view title="Create A New Match" hide-back-button="true" id="page19">
  <ion-content padding="true" style="background: url(img/iPG7G9x5TV6rC5uyX3tc_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header" scroll="false">
    <div id="createANewMatch-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Input the date and time of birth of your match. If you don't know the time, use 6:00 am.</p>
    </div>
    <form id="createANewMatch-form8" class="list">
      <div class="spacer" style="width: 300px; height: 31px;"></div>
      <label class="item item-input item-floating-label" id="createANewMatch-input19">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <label class="item item-input item-floating-label" id="createANewMatch-input15">
        <span class="input-label">Birthdate</span>
        <input type="date" placeholder="MM/DD/YYYY" ng-model="search.birthDate">
      </label>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-input item-floating-label" id="createANewMatch-input16">
        <span class="input-label">Birthtime</span>
        <input type="time" placeholder="HH:MM AM/PM" ng-model="search.birthTime">
      </label>
    </form>
    <form id="createANewMatch-form13" class="list">
      <label ng-if="false" class="item item-input item-select">
        <span class="input-label">Time Zone</span>
        <select class="item-select" ng-model="search.timeZone" ng-options="key as key for (key, value) in options"></select>
      </label>
    </form>
    <a ui-sref="tabsController.matchBirthLocation()" id="createANewMatch-button20" ng-click="submit()" ng-disabled="!search.birthDate || !search.birthTime" style="font-size:20px;" class="button button-energized button-block">Next</a>
  </ion-content>
</ion-view>