<ion-view title="Get More Information" id="page13" style="background-color:#2C1A87;">
  <ion-content padding="true" style="background: url(img/llFMkOqJRbCPhXeADp6p_about-bkgd-muted.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <h3 id="getMoreInformation-heading7" style="color:#FFFFFF;text-align:center;">Get Your Personal Compatibility Reading</h3>
    <h4 id="getMoreInformation-heading11" style="color:#FFFFFF;text-align:center;">with Geraldine</h4>
    <div class="spacer" style="width: 320px; height: 42px;"></div>
    <div id="getMoreInformation-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FFFFFF;font-size:17px;">Discover your relationship’s strengths and weaknesses in detail using your personal birth charts. Gain insight for a greater understanding of compatibility between you and your matches. </p>

      <p style="color:#FFFFFF;font-size:17px;">With my 30 years of experience in astrology you can also know where your personal life is headed.</p>

      <p style="color:#FFFFFF;font-size:17px;">I can speak to you personally by phone for a recorded one hour in-depth reading.</p>
    </div>
    <a href-inappbrowser="http://cosmicvisionastrology.com" id="getMoreInformation-button8" style="font-size:21px;" class="button button-energized button-block">Contact Geraldine Now!</a>
  </ion-content>
</ion-view>