<ion-view title="Match Deleted" hide-back-button="true" id="page26">
  <ion-content padding="true" style="background: url(img/fEfOheEuREKruwttVfEi_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <h4 id="matchDeleted-heading26" style="color:#FFFFFF;text-align:center;">Your Match Result Was Deleted</h4>
    <h3 id="matchDeleted-heading27" style="color:#FFFFFF;text-align:center;">Sorry, Mr. Nice Guy!</h3>
    <div id="matchDeleted-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Now, what do you want to do?</p>
    </div>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <a ui-sref="tabsController.createANewMatch()" id="matchDeleted-button29" class="button button-energized button-block">Create a new Match!</a>
    <a ui-sref="tabsController.savedMatches()" id="matchDeleted-button30" class="button button-positive button-block">Review my Matches.</a>
  </ion-content>
</ion-view>