<ion-view title="My Profile - Location">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon No Icon" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/Uj0kXDwkSYiGAuIzrh47_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Input your birth location.</p>
    </div>
    <form class="list" ng-submit="submit()">
      <label class="item item-input item-stacked-label">
        <span class="input-label">City, State, or Zip</span>
        <input type="text" placeholder="New York" ng-model="search.location">
        <input type="submit" style="visibility: hidden" />      
      </label>
    </form>
    <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options" style="display:block;position:relative;width:100%;height:200px;">
      <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options" dorebuildall="true">

      </ui-gmap-marker>
    </ui-gmap-google-map>
    <button ng-click="getGeocode()" class="button button-positive button-block">Lookup Location</button>
    <button ng-click="submit()" ng-disabled="!map.center.latitude" style="font-size:20px;" class="button button-energized button-block">Review</button>
  </ion-content>
</ion-view>