<ion-view title="Set Up My Profile" hide-back-button="true" id="page22">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/l8wvrYSeQXyirfClwZ49_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div id="setUpMyProfile-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Input your date and time of birth. If you don't know the time, use 6:00 am.</p>
    </div>
    <form id="setUpMyProfile-form5" class="list" ng-submit="submit()">
      <div class="spacer" style="width: 300px; height: 31px;"></div>
      <label class="item item-input item-stacked-label" id="setUpMyProfile-input12">
        <span class="input-label">Birthdate</span>
        <input placeholder="Birthdate" type="date" placeholder="MM/DD/YYYY" ng-model="search.birthDate">
      </label>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-input item-stacked-label" id="setUpMyProfile-input14">
        <span class="input-label">Birthtime</span>
        <input type="time" placeholder="HH:MM AM/PM" ng-model="search.birthTime">
      </label>
      <input type="submit" />      
    </form>
    <form id="setUpMyProfile-form12" class="list">
      <label ng-if="false" class="item item-input item-select item-stacked-label">
        <span class="input-label">Time Zone</span>
        <select ng-options="key as key for (key, value) in options" ng-model="search.timeZone"></select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <a ui-sref="tabsController.myProfileLocation()" id="setUpMyProfile-button17" ng-click="submit()" ng-disabled="!search.birthTime || !search.birthDate" style="font-size:20px;" class="button button-energized button-block">Next</a>
  </ion-content>
</ion-view>