<ion-view title="Welcome!" hide-back-button="true" nav-transition="none" id="page21">
  <ion-content padding="true" style="background: url(img/OSqBPw4lTRqZWR5lVzh4_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div>
      <img src="img/O2rrN0gfR56PXjBEkB5t_cm_logotype_transparent.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <div id="welcome-markdown32" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Cosmic Match is a unique app that rates your existing relationships using astrology by considering all nine planets for each person, not just their zodiac signs.</p>

      <p style="color:#FFFFFF;font-size:19px;">Want to learn more?</p>
    </div>
    <a ui-sref="cosmicMatchTour1()" id="welcome-button14" style="font-size:20px;" class="button button-energized button-block">Take me on a tour!</a>
    <div class="spacer" style="width: 285px; height: 13px;"></div>
    <a ui-sref="tabsController.setUpMyProfile()" id="welcome-button15" style="font-size:20px;" class="button button-positive button-block">Take me to the app!</a>
  </ion-content>
</ion-view>