<ion-view title="Your Match Result!" hide-back-button="true">
  <ion-content padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/Uj0kXDwkSYiGAuIzrh47_starfield-1242x2208.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header" scroll="false">
    <div>
      <figure>
        <img src="img/m75ArEowShef5k1nRAdt_blankheart.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        <div class="centered animated pulse">
            {{match.percentage*100 | number:0}}%
        </div>
    >
      </figure>
    </div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:17px;">{{match.reading}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div ng-click="goToSave()" style="font-size:20px;" class="button button-energized button-block">Save this Match!</div>
    <div ng-click="goToDelete()" style="font-size:17px;" class="button button-positive button-small button-block">Delete this Match.</div>
  </ion-content>
</ion-view>